<% include ../head.ejs %>

<div class="container">
    <div id="app"></div>
</div>

<% if(typeof group != 'undefined'){ %>
<script>window.group = <%- JSON.stringify(group) %>;</script>
<% } %>

<script src="/js/app.js"></script>
<% include ../foot.ejs %>