<% include ../head.ejs %>

<div class="container">

    <div id="app"></div>

</div>

<script src="/components/react/react.js"></script>
<script src="/components/react/react-dom.min.js"></script>
<script src="/js/app.min.js"></script>
<% include ../foot.ejs %>