<% include ./head-no-nav.ejs %>

<nav>
    <a href="/" class="brand">
        <img src="/img/logo-white.png">
        <div class="name">
            <span>TransPlant</span>
        </div>
    </a>
    <div class="pull-right nav-top-right">

        <div class="user">
            <% if(locals.signedInUser){ %>

            <!--<a href="/whoami">-->
            <% if(locals.signedInUser.iconURL){ %>
            <div class="image">
                <img src="<%- locals.signedInUser.iconURL %>">
            </div>
            <% } %>
            <div class="name">
                <span><%- locals.signedInUser.name %></span>
            </div>
            <!--</a>-->
            <div class="user-menu hidden">
                <ul>
                    <li>
                        <a href="/requests">My Requests</a>
                    </li>
                    <li>
                        <a href="/signout">Sign out</a>
                    </li>
                </ul>
            </div>

            <% } else { %>
            <div class="name">
                <a href="/signin" class="block">Sign in</a>
            </div>
            <% } %>
        </div>
    </div>
</nav>
